streamlit
scikit-learn==1.0.2
pillow
sentence_transformers
nltk
spacy==3.0.9
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz#egg=en_core_web_sm
